@model DrinkListViewModel
    <div>
        <h2>
           @Model.CurrentCategory   are shown here
        </h2>
    </div>
    <div class="row">
        @foreach (var drink in Model.Drinks)
        {
           @await Html.PartialAsync("_DrinkSummary", drink);
        }
    </div>